@model Logistic.Base.Entity.tblKPI
@{
    ViewBag.Title = "InputTheme";
    Layout = "~/Views/Shared/Blank.cshtml";
}

<script src="~/js/jquery-1.11.3.min.js"></script>

<div id="myModal">
    <div class="modal-header">
        <h3 id="myModalLabel">Input Theme</h3>
    </div>
    <div class="modal-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label>KPI</label>
                @Html.TextBoxFor(m => m.KPI, null, new { @class = "form-control" ,id="KPI"})
            </div>
            <div class="form-group">
                <label>Description</label>
                @Html.TextAreaFor(m => m.Description,new { @class = "form-control" ,id="Description"})
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" id="Search" />
            </div>
        }
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#Search').click(function (e) {
            validateForm(e);
        });

        function validateForm(e) {
            var KPI = $('#KPI').val();
            var Description = $('#Description').val();
            var inputVal = new Array(KPI, Description);

            var inputMessage = new Array("KPI Name", "Description");

            $('.error').hide();

            if (inputVal[0] == "") {
                e.preventDefault()
                $('#KPI').after('<span style="color:red" class="error"> Please enter ' + inputMessage[0] + '</span>');
                return false;
            }
            if (inputVal[1] == "") {
                e.preventDefault()
                $('#Description').after('<span style="color:red" class="error"> Please enter ' + inputMessage[1] + '</span>');
                return false;
            }
            else {
                return true;
            }
        }

    });
</script>

