@{
    ViewBag.Title = "Confirm Email First";
}
<link href="../../Content/themes/base/darkblue.css" rel="stylesheet" id="style_color" />

<h2 style="color:white;">@ViewBag.Title.</h2>
<div>
    <p  style="color:white;font-size:x-large">
        Please Confirm Your Email First.
    </p>
</div>
