@{
    ViewBag.Title = "DEMO purpose Email Link";
}
<link href="../../Content/themes/base/darkblue.css" rel="stylesheet" id="style_color" />
<h2 style="color:white;">@ViewBag.Title.</h2>
<p style="color:white;font-size:x-large">
    Please check your email and confirm your email address.
</p>

